name: Build and Push to Google Container Registry

on:
    workflow_dispatch:
    push:
        branches:
            - main

permissions:
    id-token: write
    contents: read

env:
    PROJECT_ID: ${{ secrets.PROJECT_ID }}

jobs:
    build-push-container:
        runs-on: ubuntu-latest
        steps:
            - name: 'Checkout'
              uses: 'actions/checkout@v4'

            - name: Authenticate to Google Cloud
              id: auth
              uses: google-github-actions/auth@v2
              with:
                  workload_identity_provider: projects/643135354132/locations/global/workloadIdentityPools/github/providers/personal-repo
                  service_account: 'githubactions@next-log-parser.iam.gserviceaccount.com'

            - uses: RafikFarhad/push-to-gcr-github-action@v5-rc1
              with:
                  registry: gcr.io
                  project_id: next-log-parser
                  image_name: next-log-parser
                  image_tag: latest
                  dockerfile: ./Dockerfile
                  context: .
